*{
	margin: 0;
	padding:0;
}
ul{
	list-style: none;
}
a:link,a:visited{
	text-decoration: none;
	color: #333;
}
body{
	font-family: "微软雅黑";
	color: #14191e;
}
@font-face{
	font-family: "iconfont";
	src:url("../img/font/iconfont.eot");
	src:url("../img/font/iconfont.eot") format("embedded-opentype"),
		url("../img/font/iconfont.woff") format("woff"),
		url("../img/font/iconfont.ttf") format("truetype"),
		url("../img/font/iconfont.svg#iconfog") format("svg");

}
.main{
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden; 
	position: relative;
}

.banner{
	width: 1200px;
	height: 460px;
	overflow: hidden;
	position: relative;
}

.banner-slide{
	width: 1200px;
	height: 460px;
	position: absolute;
	background-repeat: no-repeat;
	display: none;
}

.slide-active{
	display: block;
}

.slide1{
	background: url(../img/bg11.jpg);
}

.slide2{
	background: url(../img/bg22.jpg);
}

.slide3{
	background: url(../img/bg33.jpg);
}
.button{
	position: absolute;
	width: 40px;
	height: 80px;
	left: 244px;
	top: 50%;
	margin-top: -40px; 
	background: url(../img/arrow.png) no-repeat center center;
}

.button:hover{
	background-color: rgba(138,141,145,.8);
	/*opacity: .5;*/
	/*filter: alpha(opacity=50);*/
}

.prev{
	transform: rotate(180deg);
}

.next{
	left: auto;
	right: 0;
}

.dots{
	position: absolute;
	right: 20px;
	bottom: 24px;
	text-align: right;
}

.dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%;
	background: rgba(7,17,27,.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,.8) inset;
	margin-left: 8px;
	cursor: pointer;
} 

.dots span.active{
	box-shadow: 0 0 0 2px rgba(0,0,0,.4) inset;
	background-color: #fff;
}

/*导航菜单*/
.menu-box{
	width: 244px;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(7,17,27,.7);
	opacity: .7;
	z-index: 1;
}

.menu-content{
	width: 244px;
	height: 454px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	padding-top: 6px;
}
/*导航栏菜单样式*/
.menu-item{
	position: relative;
	height: 64px;
	line-height: 66px;
	font-size: 16px;
	padding: 0 24px;
}
.menu-item a:link,.menu-item a:visited{
	color: #fff;
}

.menu-item a{
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.5);
	padding:0 8px;
	height: 63px;
}
.menu-item i{
	position: absolute;
	right: 32px;
	font-size: 24px;
	top: 0;
	font-family: "iconfont";
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,.5);
}

.sub-menu{
	position: absolute;
	width: 730px;
	height: 458px;
	border:1px solid #d9dde1;
	background: #fff;
	left: 244px;
	top: 0;
	z-index: 2000;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.inner-box{
	width: 100%;
	height: 100%;
	background: url(../img/fe.png) no-repeat;
	display: none;
}
.sub-inner-box{
	width: 652px;
	margin-left: 40px;
	overflow: hidden;
}
.tittle{
	color: #f01414;
	font-size: 16px;
	line-height: 16px;
	margin: 28px 0 30px 0;
	font-weight: bold;
}
.sub-row{
	margin-bottom: 25px;
}
.bold{
	font-weight: bold;
}
.mr10{
	margin-right: 10px;
}
.ml10{
	margin-left: 10px;
}
.hide{
	display: none;
}